doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Naruto

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article
      section
        h2.bullet BABAN'K
        h3
        ul
        li Vandri Sixsandra 121112082
        li Debby Septianti  121112112
        li Rini Heni        121113380
        li Junri Pranata    121112546
      section
        h1 Naruto

      section
        h2 Sejarah Singkat
        hr
        h3 Naruto adalah salah satu tokoh dalam anime naruto. Lebih tepatnya tokoh utama . naruto lahir dari keluarga yang besar. Dia adalah anak dari hokage ke empat atau istilahnya kepala desa keempat. ayahnya bernama minato dan ibunya bernama kushina. kedua orang tuanya memiliki kekuatan yang sangat laur biasa. ayahnya memiliki jurus rasengan, segel tentagram. Dia juga di juluki si kilat kuning dari konoha. dia dapat berpindah tempat dalam waktu sekejap mata dari tempat A ke tempat yang lain dengan segel tertentu. inilah yang menyebabkan dia mendapat julukan tersebut.

      section
        h2 Cont...
        hr
        h3 Sedangkan ibunya adalah seorang jinchuriki dari bijuu ekor sembilan. bijuu ekor sembilan bernama kurama. yang tersegel di dalam perut sang ibu. kemudian keluar pada saat naruto lahir. kemudian sang hokage bertempur bersama istrinya untuk mengalahkan kyubi. dan menyegel kyubi di dalam tubuh naruto. itulah kenapa naruto mempunyai seperti cakar di wajahnya yang berjumlah 3 di masing masing pipinya.

      section
        h2 Cont...
        hr
        h3 Hidup Naruto sanggatlah kesepian. Dia selalu merasaseorang diri, akan tetapi, dia dikenal sebagai seorang anak yang tidak mudah menyerah. Dia selalu mempunyai mimpi sejak kecil, dan selalu bekerja keras untuk bisa memwujudkannya, yaitu menjadi seorang HOKAGE... Hokage adalah seorang ninja yang menguasai 1000 macam jurus ninja, dan seorang pemimpin desa ninja.
      section
        h2 Tokoh-Tokoh
      section
        h2 Naruto
        hr
        h3 Naruto Uzumaki adalah tokoh utama cerita ini. Ia adalah seorang ninja dari desa Konoha, Salah satu desa militer terkuat di dunia ninja.
        hr
        h2 Sakura
        hr
        h3 Sakura adalah salah satu rekan satu tim sekaligus wanita idaman Naruto, namun ia lebih menyukai Sasuke daripada Naruto.
      section
        h2 Sasuke
        hr
        h3 Sasuke adalah teman satu tim Naruto selain Sakura. Ia adalah seorang ninja berbakat yang selalu menyendiri dan jarang bergaul. Sikapnya yang dingin serta kemampuan bertarung yang tinggi membuatnya digilai banyak wanita terutama Sakura.
        hr
        h2 Hatake Kakashi
        hr
        h3 Kakashi Hatake adalah guru pembimbing sekaligus rekan satu tim Naruto.
      section
        h2.bullet Tokoh Lain
        h3
        ul
        li Guy
        li Rock Lee
        li Neji Hyuga
        li Tenten
        li Asuma Sarutobi
        li Shikamaru Nara
        li Ino Yamanaka
        li Chouji Akamichi
        li Jiraiya
      section
        h2 5 Negara Besar Ninja
      section
        h2. 1. Konohagakure
        hr
        h3. Konohagakure no Sato; Secara harfiah berarti “Village Hidden Among Tree Leaves”, juga dikenal sebagai “Hidden Village in the Leaves” atau “Hidden Leaf Village” adalah Desa Yang Tersembunyi di Tanah Api.
        hr
        h2 2. Sunagakure
        hr
        h3 Sunagakure no Sato; Secara harfiah berarti “Village Hidden in the Sand” adalah desa tersembunyi Land of Wind. Sebagai salah satu dari lima desa Ninja yang hebat.
      section
        h2 3. Kumogakure
        hr
        h3 Kumogakure no Sato; Secara harfiah berarti “Village Hidden in the Clouds” adalah "Village Hidden of the Land of Lightning" yang berarti Desa Petir.
        hr
        h2 4. Kirigakure
        hr
        h3 Kirigakure no Sato, Secara harfiah berarti “Desa Tersembunyi di Kabut” adalah desa shinobi yang terletak di Negeri Air.
      section
        h2 5. Iwagakure
        hr
        h3 Iwagakure no Sato, dalam Bahasa Inggris “Hidden StoneVillage”; Secara harfiah berarti “Desa Tersembunyi dalam Bebatuan” adalah Desa Tersembunyi Tanah Bumi.
      section
        h2 Tingkatan Ninja
      section    
        h2.bullet 1. Tingkatan Resmi
        h3
        ul
        li Murid akademi
        li Genin
        li Chuunin
        li Jounin
        li Tensai Jounin
        li ANBU
      section
        h2.bullet 2. Tingkatan Khusus
        h3
        ul
        li Nukenin
        li Oinin
        li Sannin
        li Kage
      section
        h2 Nama Kage Setiap Negara
        hr
        h3 -Hokage ( secara harfiah berarti "Bayangan Api") pemimpin dari Konohagakure.
        h3 -Kazekage ( secara harfiah berarti "Bayangan Angin") pemimpin dari Sunagakure.
        h3 -Mizukage ( secara harfiah berarti "Bayangan Air") pemimpin dari Kirigakure.
        h3 -Raikage ( secara harfiah berarti "Bayangan petir") pemimpin dari Kumogakure.
        h3 -Tsuchikage (secara harfiah berarti "Bayangan bumi") pemimpin dari Iwagakure
      section
        h2 Pengarang Cerita Naruto
        hr
        h3 Masashi Kishimoto ( Kishimoto Masashi; lahir di Prefektur Okayama, Jepang, 8 November 1974; umur 36 tahun) adalah seorang mangaka Jepang.Masashi Kishimoto mulai mengembangkan bakatnya akan menggambar semenjak usia SD.Masashi Kishimoto menjadi mangaka terkenal semenjak karyanya, Naruto. Dai mengaku banyak di pengaruhi oleh anime Doraemon.
        hr
        h3 Saudara kembar Masashi Kishimoto, Seishi Kishimoto juga merupakan seniman manga dengan karyanya yang terkenal 666 Satan
      section
        h2.bullet Versi-Versi Cerita Naruto
        h3
        ul
        li Buku
        li Manga 
        li Buku Seni
        li Novel
        li Game 
      section
        h2.bullet Musuh-Musuh Naruto Yang Paling Berbahaya
        h3
        ul
        li Organisasi Akatsuki
        li Orochimaru
        li Pain 
        li Obito 
        li Uciha Madara
      section
        h2.bullet Sahabat-Sahabat Terdekat Naruto
        h3
        ul
        li Sasuke
        li Sakura
        li Hatake Kakashi
        li Jiraiya
        li Iruka
      section
        h2 Pengertian Jincuriki
        hr
        h3 Jinchuuriki (yang berarti host atau tuan rumah) adalah sebutan bagi orang-orang yang dijadikan inang oleh Bijuu dalam dunia Naruto.  Jinchuuriki memiliki kemampuan unik untuk menyatu dengan bijuu dan menggunakan kekuatannya. Rata-rata mereka dikucilkan oleh masyarakat ditempat mereka tinggal.
      section
        h2 Pengertian Bijuu
        hr
        h3 Bijuu adalah sembilan monster berekor dalam kisah dunia Naruto . Selain dalam Naruto, Bijuu juga eksis dalam legenda Jepang. Makhluk-makhluk ini diceritakan memiliki ukuran tubuh yang sangat besar dan memiliki jumlah ekor yang berbeda-beda sehingga mereka dapat dibagi berdasarkan jumlah ekornya.
      section
        h2.bullet Just the beginning....
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild