doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Naruto

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Naruto

      section
        h2 Sejarah Singkat
        h3 Naruto adalah salah satu tokoh dalam anime naruto. Lebih tepatnya tokoh utama . naruto lahir dari keluarga yang besar. Dia adalah anak dari hokage ke empat atau istilahnya kepala desa keempat. ayahnya bernama minato dan ibunya bernama kushina. kedua orang tuanya memiliki kekuatan yang sangat laur biasa. ayahnya memiliki jurus rasengan, segel tentagram. Dia juga di juluki si kilat kuning dari konoha. dia dapat berpindah tempat dalam waktu sekejap mata dari tempat A ke tempat yang lain dengan segel tertentu. inilah yang menyebabkan dia mendapat julukan tersebut.

      section
        h2 Cont...
        h3 Sedangkan ibunya adalah seorang jinchuriki dari bijuu ekor sembilan. bijuu ekor sembilan bernama kurama. yang tersegel di dalam perut sang ibu. kemudian keluar pada saat naruto lahir. kemudian sang hokage bertempur bersama istrinya untuk mengalahkan kyubi. dan menyegel kyubi di dalam tubuh naruto. itulah kenapa naruto mempunyai seperti cakar di wajahnya yang berjumlah 3 di masing masing pipinya.

      section
        h2 Cont...
        h3 Hidup Naruto sanggatlah kesepian. Dia selalu merasaseorang diri, akan tetapi, dia dikenal sebagai seorang anak yang tidak mudah menyerah. Dia selalu mempunyai mimpi sejak kecil, dan selalu bekerja keras untuk bisa memwujudkannya, yaitu menjadi seorang HOKAGE... Hokage adalah seorang ninja yang menguasai 1000 macam jurus ninja, dan seorang pemimpin desa ninja.
      section
        h2 Tokoh-Tokoh
        h2 Naruto

Naruto Uzumaki adalah tokoh utama cerita ini. Ia adalah seorang ninja dari desa Konoha, Salah satu desa militer terkuat di dunia ninja.

        h2 Sakura
        h3 Sakura adalah salah satu rekan satu tim sekaligus wanita idaman Naruto, namun ia lebih menyukai Sasuke daripada Naruto.

        h2 Sasuke
        h3 Sasuke adalah teman satu tim Naruto selain Sakura. Ia adalah seorang ninja berbakat yang selalu menyendiri dan jarang bergaul. Sikapnya yang dingin serta kemampuan bertarung yang tinggi membuatnya digilai banyak wanita terutama Sakura.

        h2 Hatake Kakashi
        h3 Kakashi Hatake adalah guru pembimbing sekaligus rekan satu tim Naruto.
      section
        h3.bullet
        ul
        h2 Tokoh lain 
        li Guy
        li Rock Lee
        li Neji Hyuga
        li Tenten
        li Asuma Sarutobi
        li Shikamaru Nara
        li Ino Yamanaka
        li Chouji Akamichi
        li Jiraiya

      section(data-bespoke-hash='named-route')
        h2 Tingkatan Ninja
        ul
        li  1. Tingkatan resmi 
            Murid akademi
            Genin
            Chuunin
            Jounin
            Tensai Jounin
            ANBU
            
        li 2. Tingkatan Khusus 
            Nukenin
            Oinin
            Kelas S
            Sannin
            Kage
    
      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild